* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.notes {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.note {
  background-color: rgb(78, 78, 78);
  padding: 1.5rem;
  max-width: fit-content;
  border-radius: 0.75rem;
}

form {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.btns {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
